/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --decorated-zone: var(--accent-color);
  --menu-btn-color: var(--accent-color);
  --header-color: #DB00FF;
  --title-decor-color: var(--accent-color);
  --title-decor-text-color: var(--header-text-color);
  --main-title-color: var(--accent-color);
  --footer-color: var(--header-color);
  --header-text-color: #000028;
  --link-shadow: var(--accent-color);
  --text-color: #F1B2CE;
  --link-focus: var(--text-color);
  --link-hover: var(--accent-color);
  --menu-btn-color-focus: var(--accent-color);
  --bg-img: url('../images/cover-image-dark.png');
  --page-bg-color: var(--header-text-color);
  background-color: var(--page-bg-color);
  background-image: var(--bg-img);
}

.page.theme_dark .inscription {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --decorated-zone: var(--accent-color);
    --menu-btn-color: var(--accent-color);
    --header-color: #DB00FF;
    --title-decor-color: var(--accent-color);
    --title-decor-text-color: var(--header-text-color);
    --main-title-color: var(--accent-color);
    --footer-color: var(--header-color);
    --header-text-color: #000028;
    --link-shadow: var(--accent-color);
    --text-color: #F1B2CE;
    --link-focus: var(--text-color);
    --link-hover: var(--accent-color);
    --menu-btn-color-focus: var(--accent-color);
    --bg-img: url('../images/cover-image-dark.png');
    --page-bg-color: var(--header-text-color);
  }

  .page {
    background-color: var(--page-bg-color);
    background-image: var(--bg-img);
  }
  
  .inscription {
    display: block;
  }
}