/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --header-color: #ffc2e6;
  --footer-color: var(--header-color);
  --text-color: #353430;
  --decorated-zone: var(--text-color);
  --menu-btn-color: var(--text-color);
  --title-decor-color: var(--bg-color);
  --title-decor-text-color: var(--text-color);
  --main-title-color: var(--text-color);
  --bg-color: #FF8DCB;
  --link-shadow: var(--bg-color);
  --link-focus: var(--text-color);
  --link-hover: var(--text-color);
  --menu-btn-color-focus: var(--text-color);
  --bg-img: url('../images/cover-image-light.png');
  --page-bg-color: #fff1f7; 
  background-color: var(--page-bg-color);
  background-image: var(--bg-img);
}

.page.theme_light .inscription {
  display: none;
}
  
@media (prefers-color-scheme: light) {
  :root {
    --header-color: #ffc2e6;
    --footer-color: var(--header-color);
    --text-color: #353430;
    --decorated-zone: var(--text-color);
    --menu-btn-color: var(--text-color);
    --title-decor-color: var(--bg-color);
    --title-decor-text-color: var(--text-color);
    --main-title-color: var(--text-color);
    --bg-color: #FF8DCB;
    --link-shadow: var(--bg-color);
    --link-focus: var(--text-color);
    --link-hover: var(--text-color);
    --menu-btn-color-focus: var(--text-color);
    --bg-img: url('../images/cover-image-light.png');
    --page-bg-color: #fff1f7; 
  }
  
  .page { 
    background-color: var(--page-bg-color);
    background-image: var(--bg-img);
  }
  
  .inscription {
    display: none;
  }
}