.page {
  background-image: url('../images/cover-image-dark.png');
  font-size: 18px; 
  font-family: var(--main-font);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows:  repeat(3, min-content);
  grid-template-columns: 1fr 1fr;
  inline-size: 100%;
  align-items: center;
  justify-content: center;
  padding-block: 10px;
  padding-inline: 10px;
  margin-block-end: 40px;
  min-block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  content: '';
  inline-size: 25px;
  block-size: 25px;
  justify-self: end;
  grid-column: 2;
  grid-row: 1;
}

.decorated-zone::after {
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  content: '';
  inline-size: 25px;
  block-size: 25px;
  grid-row: 5;
}

.inscription {
  color: var(--accent-color);
  position: absolute;
  right: 15px;
  top: 10px;
}

.inscription::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 100%;
  display: inline-block;
  fill: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-inline: 10px 5px;
}

.header__theme-menu {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  padding-block-start: 40px;
  padding-block-end: 68px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  color: var(--h-f-text-color);
  grid-column: span 2;
  grid-row: 3;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
}


.title-decor {
  background-color: var(--accent-color);
  color: var(--header-text-color);
}

.header_subtitle {
  font-weight: 700;
  line-height: 130%;
  grid-column: span 2;
  margin-block-start: 55px;
  margin-block-end: 30px;
}

.subtitle_p {
  display: block;
}

.header__theme-menu-button_active {
  pointer-events: none;  
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button {
  background-color: inherit;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 100%;
  padding: 2px 13px;
  text-transform: lowercase;
}

.section {
  padding-block-end: 50px; 
  padding-inline: 10px;
}

.section_why {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main_title {
  color: var(--accent-color);
  font-size: inherit;
  font-weight: 700;
  line-height: 130%;
}

.p_title {
  font-size: inherit;
  line-height: 130%;
  margin-block-end: 10px;
}

.p_text {
  color: var(--text-color);
  font-weight: 400;
  font-size: inherit;
  line-height: 130%;
}

.section_how .main_title {
  margin-block-end: 20px;
}

.section_how_content .p_text:not(:last-child) {
  margin-block-end: 20px;
}

.section_what {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  text-decoration-skip-ink: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: none;
}

.text_title {
  font-weight: 400;
  line-height: 130%;
  margin-block-end: 10px;
}

.p_title:has(+.text_title) {
  margin-block-end: 20px;
}

.section_gallery {
  padding-inline: 10px;
  margin-block-end: 40px;
}

.gallery {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.p_title:has(+.gallery_image) {
  margin-block-end: 0;
}


.gallery_img {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  vertical-align: bottom;
}

.footer {
  display: grid;
  inline-size: 100%;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 1fr 1fr;
  padding-inline: 10px;
  padding-block: 10px;
  text-align: center;
  min-block-size: 100vh;
}

.f_title {
  color: var(--h-f-text-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  font-weight: 700;
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: var(--main-font);
  grid-column: span 2;
  grid-row: 2;
  padding-block: 252px 249px;
}

@media (width >= 768px) {
  .header {
    grid-template-columns: repeat(4, 1fr);
    padding-block: 20px;
    padding-inline: 20px;
    margin-block-end: 58px;
  }

  .header__theme-menu {
    grid-row: 1;
    grid-column: 4;
    justify-self: end;
    padding-block-start: 170px;
    padding-block-end: 180px;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid var(--accent-color);
  }

  .header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid var(--accent-color);
  }

  .inscription {
    right: 25px;
    top: 20px;
  }

  .decorated-zone::before {
    grid-column: 4;
    grid-row: 1;
    align-self: start;
  }
  
  .decorated-zone::after {
    grid-row: 4;
  }

  .title {
    grid-column: span 4;
    grid-row: 2;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_subtitle {
    grid-column: 3/ span 2;
    grid-row: 3;
    margin-block-start: 160px;
    margin-block-end: 140px;
  }

  .section {
    padding-inline: 20px;
    padding-block-end: 80px;
  }
  
  .link:focus {
    outline:none;
  }

  .link:focus-visible {
    outline: none;
    border: 1px solid var(--text-color);
  }
 

  .section_what {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .section_what .main_title {
    padding-block-end: 0;
    display: block;
    inline-size: min-content;
  }

  .section_why {
    display: grid;
    grid-template-columns: 33% 1fr ;
    grid-template-rows: 1fr 1fr;
  }

  .section_why .main_title {
    padding-block-end: 0;
    grid-column: 1;
    grid-row: 1/span 2;
    margin-inline-end: 20px;
  }

  .p_multitasking {
    grid-column: 2;
    grid-row: 1;
  }

  .p_dopamine {
    grid-column: 2;
    grid-row: 2;
  }
  
  .section_how {
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }

  .section_how .main_title {
    grid-column: 1;
    grid-row: span 2;
    display: block;
    padding-block-end: 0;
  }

  .section_how_content {
    grid-column: 2;
    grid-row: span 2;
  }

  .section_gallery {
    margin-block-end: 60px;
    padding-inline: 20px;
  }

  .section_gallery .p_title {
    margin-block-end: 20px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content max-content;
    gap: 20px;
  }
  
  .gallery_item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  
  .gallery_item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .gallery_item:nth-child(3) {
    grid-column: 1;
    grid-row: 2/4;
  }

  .gallery_item:nth-child(5) {
    grid-column: 2/4;
   
  }

  .footer {
    padding: 20px;
  }

  .f_title {
    padding-block: 420px 415px;
    padding-inline-start: 20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 2/4;
    justify-self: center;
    padding-block: 0 273px;
  }

  .header__theme-menu-list {
    flex-direction: initial;
    gap: 10px;
  }

  .header_subtitle {
    margin-block: 115px 90px;
  }

  .section_how .main_title .subtitle_p {
    display: inline-block;
  }

  .section_why {
    grid-template-columns: 32% 1fr;
  }

  .section_why .main_title {
    margin-inline-end: 0;
  }

  .section_what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
  }

  .section_what .main_title {
    inline-size: max-content;
    grid-column: 1/span 3;
    grid-row: 1;
  }

   .section_gallery {
    margin-block-end: 60px;
    padding-inline: 20px;
  }

  .section_how {
    gap: 10px;
  }
  
  .section_how .main_title{
    margin-block-end: 0;
  }

 

  .f_title {
    padding-block-start: 279px;
    padding-block-end: 270px;
  }

 
}