/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --header-color: #DB00FF;
  --footer-color: var(--header-color);
  --header-text-color: #000028;
  --text-color: #F1B2CE;
  --main-font: 'IBM Plex Mono', monospace;
  --bg-img: url('../images/cover-image-dark.png');
}